<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.c3p0.acquire_increment">5</property>
        <property name="hibernate.c3p0.idle_test_period">1600</property>
        <property name="hibernate.c3p0.max_size">${c3p0.max_size}</property>
        <property name="hibernate.c3p0.max_statement">200</property>
        <property name="hibernate.c3p0.min_size">${c3p0.min_size}</property>
        <property name="hibernate.c3p0.timeout">1000</property>
        <property name="hibernate.c3p0.acquireRetryDelay">10</property>
        <property name="hibernate.c3p0.validate">true</property>
        <property name="hibernate.connection.characterEncoding">utf-8</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">mytestuser</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.connection.url">jdbc:mysql://${dataIP}:3306/fmapp?autoReconnect=true&amp;autoReconnectForPools=true&amp;useUnicode=true</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.username">testuser</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">${show_sql}</property>
    </session-factory>
</hibernate-configuration>
